.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.gallery-item {
    flex-basis: calc((100% - 2 * 16px) / 3);
    box-sizing: border-box;
}

.gallery-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}